<h1><%= t('frequently_asked_questions') %></h1>

<div id="faqs">
  <% @categories.each do |category| %>
    <div id="<%= category.to_param -%>">
      <h2><%= h category.name %></h2>
      <ul id="answers">
        <% category.questions.each do |question| %>
          <li>
            <a class="question" id="question_<%= question.id -%>"><%= h question.question -%></a>
            <div class="answer" id="<%= "answer_#{question.id}"-%>">
              <%= question.answer %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% content_for :head do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $('.answer').hide();
      $('.question').click(function() {
        var id = $(this).attr('id').split('_')[1];
        $('#answer_' + id).slideToggle();
      });
    });
  <% end %>
<% end %>
