<div class="question">
  <p>
    <%= f.label :question, t("question") %> <span class="required">*</span><br />
    <%= f.text_field :question  %>  
  </p>
  <p>
    <%= f.label :answer, t("answer") %> <span class="required">*</span><br />
    <%= f.text_area :answer, :rows => 2 %>  
  </p>
  <%= remove_nested f %>
</div>
